<span style="font-size:12px; color:#555; font-weight:bold; font-family:sans-serif">Exact<span style="color:#e0a134;">Target&reg;</span> <span style="color:#777; font-weight:normal;">Platinum Support</span></span><br/>

<p style="font-size:10px;color:#777; font-family:sans-serif;">Please reach out to our on-call support number first, which will be redirected to the available Platinum Support representative.  If you do not get an answer, please call the direct lines noted below.</p>
<ul style="list-style:none;font-size:10px;font-family:sans-serif;color:#777;">
  <li>Call Gap On Call: 317-275-5022</li>
  <li>Email: etplatinum@exacttarget.com</li>
  <li>Direct Lines</li>
  <li>Call: 1-877-564-0062 or 317-524-2296</li>
  <li>Contact: Ian Doll Extension #721</li>
  <li>Contact: Thea Holsman Extension #722</li>
  <li>Email: etplatinum@exacttarget.com</li>
  <li><%= @campaign.brand.name %> MID: <%= @campaign.brand.mid %></li>
</ul>