<div id="dst" class="segmentation">

    <div id="header">
      <%= link_to 'Add Segment', new_brand_campaign_segmentation_segment_path(@brand, @campaign), :class => 'new' %>  
      <h1>Segments</h1>
      <h2>Data File: </h2>
      <h2>Suppressions: </h2>
    </div>

   

</div>