<div id="dst">
  
  <ul>
  
    <li id="header" class="audience">
      <h1>Audiences</h1>
      <h2><%= link_to '&larr; '.html_safe + @brand.name, brand_path(@brand) %></h2>
    </li> 
    <li id="new">
      <%= link_to 'New Audience', new_brand_audience_path(@brand) %>
    </li>
  <% @brand.audiences.each do |audience| %>
    <li class="audience deletable">
      <%= button_to 'X', brand_audience_path(@brand, audience), :method => :delete, :class => 'delete' %>
      <%= audience.code %>
    </li> 
  <% end %>

  </ul>
  
</div>

