<div id="actions">

  <ul>
    <li class="on"><%= link_to 'ExactTarget', brands_path(@brand) %></li>
    <li class="right on"><%= link_to 'Contacts', contacts_path() %></li>
    <li class="right on"><%= link_to 'Tracker', trackers_path() %></li>
  </ul>

</div><!-- /#actions -->