<div class="form">

  <h1>New Segment</h1>

  <%= form_for [@brand, @campaign, @segment] do |f| %>
    <ul>
      <li><%= f.text_area :segmentation %></li>
      <li><%= f.submit 'Add Segment' %></li>
    </ul>
  <% end %>

</div>