<div class="empty record"><div class='sticky'>Conventions,<br/><br/>
      Simply name your send list after the process it should be married to.<br/><br/>
      Naming a list proofs would tie the list to those who should recieve proofs.
    </div>No send lists have been created yet.</div>