<div id='dst' class='send_lists'>

  <div id='header'>
    <h1>Send lists.</h1>
  </div>
  
  <div id='new'>
    <%= link_to 'New List', new_brand_send_list_path(params[:brand_id]) %>
  </div>
  
  <% @send_lists.each do |send_list| %>
  <div class='record'>
    <%= send_list.list_type %>
  </div>
  <% end %>

</div><!-- /#dst, .send_lists -->