<div class="form">
<%= form_for [@brand, @send_list] do |f| %>
  <ul>
    <li><%= f.select :id, @options %></li>
    <li><%= f.submit 'Add Demographic' %></li>
  </ul>
<%= f.hidden_field :brand_id %>
<% end %>
</div>