<div class="form">
<%= form_for [@brand, @send_list, @send_lists_contact] do |f| %>
  <ul>
    <li><%= f.select :contact_id, @options %></li>
    <li><%= f.submit 'Add Contact To list' %></li>
  </ul>
<%= f.hidden_field :send_list_id %>
<% end %>
</div>