<div id='dst' class='contacts'>
  
   <div id='actions'>
    <ul>
      <li class='on'><%= link_to 'ExactTarget', brands_path %></li>
    </ul>
  </div><!-- /#actions -->
 
  
  <div id='header'>
  <!--
    <div id="search_box">
      <form method="get" action="<%= search_contacts_path %>">
        <input id="send_lists_contact_contact_id" name="name" type="text" autocomplete='off'/>
      </form>
      <div style="z-index:100;" id="search_results"></div>
    </div>
    -->
    <%= link_to 'New Contact', new_contact_path(), :class => 'new' %>  

  <div id="search_box">
    <form method="get" action="<%= search_trackers_path %>">
      <input id="search_contacts" class='off' name="user_input" type="text" autocomplete='off'/>
    </form>
  </div> <!-- /#search_box -->   

  </div><!-- /#header -->
  


  <div id="contacts_search_results"></div>

  
</div>