<% @contacts.each do |contact| %>
    <div class='record deletable <%= toggle_row_bg_color %>'>
    <%= button_to 'X', contact_path(contact), :method => :delete, :class => 'delete' %>
    <%= contact.name %> <span><%= contact.email %></span>
    </div>
<% end %>