<div id='dst'>
  <div id='actions'>
    <ul>
      <li class='on' style='padding-right:25px;'><%= link_to 'ExactTarget', brands_path %></li>
      <li class='on'><%= link_to 'Brands', brands_path %></li>
      <li class='on'><%= link_to 'Contacts', contacts_path %></li>
    </ul>
  </div>
</div>
<div id="tracker">


<div id="results"></div>

<%= render 'flow_chart', :campaigns => @campaigns %>
  
</div><!-- /#tracker -->