<div id='dst'>
  <div id='actions'>
    <ul>
      <li class='on'><%= link_to 'Brands', brands_path %></li>
      <li class='on'><%= link_to 'Contacts', contacts_path %></li>
    </ul>
  </div>
</div>
<div id="tracker">


  <div class="today">
    Today
  </div>



<% compare_time = ((Date.tomorrow).to_datetime - 12.hours) %>

<% day_code = 0 %>
<% moon_it = true %>
  <% @campaigns.each do |campaign| %>
    <%= render 'campaign', :campaign => campaign %>    
      <% if campaign_is_due_tomorrow_relative_to_pointer(campaign.drop_date, compare_time) && moon_it %>
        <%= "<div class='tomorrow'>Tomorrow</div>".html_safe %>
        <% moon_it = false %>
      <% end %>
  <% end %>
</div><!-- /#tracker -->