<div id='dst'>
  <div id='actions'>
    <ul>
      <li class='on'><%= link_to 'ExactTarget', brands_path %></li>
    </ul>
  </div>
</div><!-- /#dst -->

<div id="tracker">

  <div id="search_box">
    <form method="get" action="<%= search_trackers_path %>">
      <input id="search_tracker" class='off' name="user_input" type="text" autocomplete='off'/>
    </form>
  </div> <!-- /#search_box -->   

  <div id="search_results"></div>

</div><!-- /#tracker -->