<div class="email">

  <div class="config">
    <%= yield :contacts %>
    <div class="clear"></div>
    <h1><%= yield :subject_line %></h1>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="container">
    <%= yield :email %>
  </div>
  
</div>