<% CampaignMailerHelper %>

<div id='dst' class='campaign'>
  <%= render 'shared/navigation_bar', :local => @brand %>

  <%= render 'header', :brand => @brand, :campaign => @campaign %>
</div>

<% content_for :email do %>
  <% render :template => 'campaign_mailer/counts_email' %>
<% end %>

<% content_for :subject_line do %>
  <% get_subject_line(:counts, @campaign) %>
<% end %>

<% content_for :contacts do %>
  <ul class="send_list to">
  <% @send_list.contacts.each do |contact| %>
    <li><%= contact.name %></li>
  <% end if @send_list. != NIL %>
  </ul>
<% end %>

<%= render 'email' %>