<% CampaignMailerHelper %>
<div id='dst'>
  <%= render 'actions' %>
</div>

<% content_for :email do %>
  <% render :template => 'campaign_mailer/proof_email' %>
<% end %>

<% content_for :subject_line do %>
  <% get_subject_line(:proof, @campaign) %>
<% end %>

<% content_for :contacts do %>
  <ul class="send_list to">
  <% @send_list.contacts.each do |contact| %>
    <li><%= contact.name %></li>
  <% end if @send_list. != NIL %>
  </ul>
<% end %>

<%= render 'email' %>