<% CampaignMailerHelper %>

<div id='dst' class='campaign'>
  <%= render 'shared/navigation_bar', :local => @brand %>

  <%= render 'header', :brand => @brand, :campaign => @campaign %>
</div>

<% content_for :email do %>
  <% render :template => 'campaign_mailer/scheduled_email' %>
<% end %>

<% content_for :subject_line do %>
  <% get_subject_line(:scheduled, @campaign) %>
<% end %>

<%= render 'email' %>