/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */






div#dst.account div#header {
  background:#eee;
  background:-webkit-linear-gradient(top, #eee, #ddd);
}

  div#dst.account div#header h1 {
    color:#333;
    font-size:80px;
    text-shadow:1px 1px 0px #fff;
  }
  div#dst.account div#header h2 {
    font-size:20px;
    color:#555;
    font-weight:300;
    text-shadow:1px 1px 0px #fff;
  }
    div#dst.account div#header h1 span.highlight {
      color:#f79821;
      text-shadow:1px 1px 0px #fff;
    }
    div#dst.account div#header h1 span.trademark {
      font-size:18px;
      font-weight:300;
      text-shadow:-1px -1px 0px #623f14;
    }



div#dst.account div.record {
}


  div#dst.account div.record div.hole {
    float:left;
    margin-right:25px;
    height:50px;
    width:50px;
    box-shadow: 0px 0px 3px #000;
    border-radius:50%;
    margin-top:25px;
    border-top:1px solid #aaa;
    text-align:center;
    color:#fff;
    font-size:16px;
    line-height:53px;
    text-shadow:-1px -1px 0px #000;
  }
div#dst.account div.record a {
  color:#ccc;
  text-shadow:-1px -1px 0px #000;
}
div#dst.account div.record a:hover {
  color:#fff;
}
div#dst.account div.record.light {
  background:#333;
  box-shadow:inset -2px 3px 5px #111;
}
div#dst.account div.record.dark {
  background:#252525;
}











 
span.approved {
  float:right;
  display:block;
  border-radius:50%;
  background:#5dab1e;
  height:14px;
  width:14px;
  text-align:center;
  font-size:10px;
  line-height:15px;
  color:#fff;
  margin-left:10px;
  margin-top:1px;
  font-weight:normal;
  border:2px solid #fff;
  text-shadow:none;
  box-shadow: 0px 0px 3px #24440b;
}
 
 
 
 
div.email {
  margin: 0 auto;
  width:750px;
  border-radius:10px;
  background:#fff;
  border-bottom:2px solid #a3a3a1;
  border-top:1px solid #fff;
  box-shadow: 0px 0px 6px #000;
  margin-top:25px;
}
  div.email div.config {
    background:#ddd;
    padding:25px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom:1px dotted silver;
  }
  div.email div.container {
    padding:25px;
  }
  div.email h1 {
    font-size:12px;
    font-weight:300;
  font-family:sans-serif;
    padding:10px 25px;
    background:#fff;
    float:left;
    margin-bottom:15px;
    color:#666;
    margin-top:25px;
    border-radius:10px;
    box-shadow: inset 0px 1px 3px #666;
  }
  div.email ul.send_list {
    list-style:none;
    display:block;
    clear:both;
  }
    div.email ul.send_list li {
      border-radius:10px;
      padding:7px 13px;
      float:left;
      margin-right:10px;   
      margin-bottom:10px; 
      font-size:11px;
      box-shadow: 0px 1px 2px #444;  
      border-top:1px solid;
      border-right:none;
      border-left:none;
      border-bottom:1px solid;
      font-weight:bold;
    }
    div.email ul.send_list.to li {
      color:#fff;
      background:-webkit-linear-gradient(top, #3b8dbd, #2e7199);
      border-top-color:#a3d8f1;
      border-bottom-color:#1e5778;
      text-shadow: -1px -1px 0px #1e5778;
    }
    div.email ul.send_list.cc li {
      color:#fff;
      background:-webkit-linear-gradient(top, #333, #111);
      border-top-color:#5298ac;
      border-bottom-color:#1e5778;
    }

 
 
div.form {
  padding:25px;
  width:500px;
  border-radius:15px;
  background:#efefec;
  background:-webkit-linear-gradient(top, #efefec, #e4e4e1);
  margin:100px auto;
  border:1px solid #fff;
  box-shadow: 0px 2px 5px #111;
} 
div.form h1 {
  color:#555;
  font-size:18px;
  text-shadow:1px 1px 0px #fff;
  margin-bottom:25px;
}
div.form ul {
  list-style:none;
}
div.form ul li {
  text-align:center;
}
div.form input[type=text] {
  padding:10px;
  width:300px;
  margin-bottom:20px;
}
 
 
 
 
 
div.clear {
  clear:both;
}
* {
  padding:0;
  margin:0;
  font-family:'Ubuntu', sans-serif;
  text-decoration:none;
}

div#simple_message {
  width:500px;
  margin:50px auto;
  text-align:center;
  font-size:16px;
  color:#999;
  margin-bottom:25px;
}
div#navigation {
}




    
    


div#dst {
  list-style:none;
}

div#dst div.item {
  color:#197d75;
  background:#e6e6e2;
  float:left;
  margin-right:10px;
  border-radius:10px;
  margin-top:10px;
  padding:8px 12px;
  font-weight:bold;
  border-bottom:4px solid #888;
  border-top:1px solid #fff;
  box-shadow:0px 3px 6px #000;
  text-shadow:1px 1px 0px #fff;
}

div#dst div.package {
  color:#444;
  background:#e6e6e2;
  float:left;
  height:250px;
  width:200px;
  margin-right:25px;
  border-radius:10px;
  margin-top:10px;
  border-bottom:4px solid #888;
  border-top:1px solid #fff;
  box-shadow:0px 3px 6px #000;
}
div#dst div.package h1 {
  background:#dededb;
  padding:15px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:2px solid #b4b4b0;
  line-height:18px;
        text-shadow:1px 1px 0px #fff;
}
div#dst div.package a {
  color:#d24d33;
  font-size:18px;
}
div#dst div.package div.container {
  padding:15px
}
div#dst div.package div.container ul {
  list-style:none;
}
div#dst div.package div.container ul li {
      border-radius:10px;
      padding:7px 13px;
      float:left;
      margin-right:10px;   
      margin-bottom:10px; 
      font-size:11px;
      box-shadow: 0px 1px 2px #444;  
      border-top:1px solid;
      border-right:none;
      border-left:none;
      border-bottom:1px solid;
      font-weight:bold;
      color:#fff;
      background:-webkit-linear-gradient(top, #3b8dbd, #2e7199);
      border-top-color:#a3d8f1;
      border-bottom-color:#1e5778;
      text-shadow: -1px -1px 0px #1e5778;
}
div#dst div.stage {
  padding:25px 50px;
}
  div#dst div.record {
    height:100px;
    line-height:100px;
    font-size:22px;
    font-weight:bold;
    color:#d2ccc2;
    padding:0 50px;
    position:relative;
    box-shadow: 0px 3px 6px #000;
  }
  div#dst.campaign div.code {
    font-size:22px;
    line-height:30px;
    font-weight:300;
    border-bottom:2px solid #000;
    border-top:1px solid #444;
    color:#d2ccc2;
    background:#222;
    padding:35px 50px;
    position:relative;
    box-shadow: 0px 3px 6px #000;
  }
  div#dst.campaign div.code.light {
    background:#222;
  }
  div#dst.campaign div.code.dark {
    background:#1c1c1c;
  }
  
  div#dst.campaign div.code.live {
 
  }
  
  div#dst div.record.empty {
    color:#fff;
    text-align:center;
  }

    div#dst div.record a {
      font-size:22px;
      font-weight:bold;
    }
    div#dst div.record h1 {
      float:left;
      height:100px;
      line-height:100px;
      margin-right:25px;
      font-size:22px;
    }
   div#dst div.record input[type=submit].delete {
      position:absolute;
      left:12px;
      top:38px;
      border-radius:50%;
      border:2px solid;
      height:25px;
      width:25px;
      text-align:center;
      font-weight:bold;
      display:none;
    }
      div#dst div.record input[type=submit].delete:hover {
        background:#d24d33;
        box-shadow: 0px 0px 2px #194f6e;
        color:#fff;
        border-color:#fff;
        text-shadow: 1px 1px #992f1a;
      }
    div#dst div.record ul.sub_items {
      list-style:none;
      margin-top:38px;
      float:left;
    }
      div#dst div.record ul.sub_items li {
        margin-right:10px;
        font-weight:bold;
        border-radius:20px;
        display:block;
        float:left;
        font-size:14px;
        height:20px;
        line-height:20px;
        border:1px solid #245675;
        padding:5px 15px;
      }
        div#dst div.record ul.sub_items li a {
          font-size:14px;
          font-weight:bold;
        }
      div#dst div.record input[type=checkbox]
      {
        float:left;
        margin-top:35px;
        height:35px;
        width:35px;
        margin-right:5px;
      }
      div#dst div#new {
        background:#6ab71e;
        border-bottom:2px solid #457912;
        border-top:1px solid #97da55;
        height:50px;
        font-weight:bold;
        line-height:50px;
        padding: 0 50px;
      }
        div#dst div#new a {
          color:#f1f1ee;
          display:block;
          height:50px;
          width:100%;
          text-shadow: 1px 1px #3a690b;
        }
      div#dst div#actions {
        background:#d24d33;
        border-top:1px solid #dd725e;
        border-bottom:2px solid #9e311c;
        height:50px;
        line-height:50px;
        clear:both;
        padding:0 50px;
        border-right:none;
        border-left:none;

      }
  div#dst div#actions div.button {
    float:left;
    margin-right:10px;
    height:35px;
    width:35px;
    margin-top:7px;
    margin-left:10px;
    box-shadow: inset 0px 0px 2px #000;
    border-radius:50%;
    border-bottom:1px solid #aaa;
    text-align:center;
    color:#fff;
    font-size:9px;
    line-height:40px;
    text-shadow:-1px -1px 0px #000;
  }
      
      
      
      div#dst div#actions a.new {
        background:#6ab71e;
        float:right;
        height:50px;
        padding: 0 25px;
        display:block;
        color:#f1f1ee;
        text-shadow: 1px 1px #49850f;
      }
        div#dst div#actions ul {
          list-style:none;
        }
        div#dst div#actions ul li {
          float:left;
          height:50px;
          line-height:50px;
          margin-right:25px;
        }
        div#dst div#actions ul li.right {
          float:right;
          margin-left:25px;
          margin-right:0px;
        }

        div#dst div#actions ul li a {
          font-size:18px;
          font-weight:bold;
          text-shadow: 1px 1px #8f3827;
        }
        div#dst div#actions ul li.on {
          color:#ddd;
        }
          div#dst div#actions ul li.on a {
            color:#ddd;
          }
        div#dst div#actions ul li.off {
          color:#e77f6b;
        }
          div#dst div#actions ul li.off a {
            color:#e77f6b;
            text-shadow: -1px -1px #ab513f;
          }
      div#dst div.record span.count {
        float:right;
        font-size:16px;
        line-height:100px;
      }
      div#dst div#header {
        padding:50px 50px;
        height:auto;
        border:none;
      }
div#dst div#header ul.actions {
    list-style:none;
  }
  div#dst div#header ul.actions li {
    float:left;
    border-radius:10px;
    padding:10px 14px;
    font-size:14px;
    font-family:sans-serif;
    font-weight:bold;
  }
  div#dst div#header ul.actions li.on {
    background:#d24d33;
    box-shadow:0px 1px 4px #000;
    margin-right:10px;
    border-top:1px solid #f0a090;
    border-bottom:2px solid #8b2d1b;
    color:#fff;
    text-shadow: -1px -1px 0px #7a2211;
  }
  div#dst div#header ul.actions li.off {
    background:#222;
    box-shadow:inset 0px 1px 4px #111;
    margin-right:10px;
    border-top:2px solid #000;
    border-bottom:1px solid #777;
  }
  div#dst div#header ul.actions li.off a {
    color:#777;
    text-shadow: -1px -1px 0px #000;
  }
      
  div#dst div#header div.button {
    float:left;
    margin-right:25px;
    height:125px;
    width:125px;
    box-shadow: 0px 2px 8px #000;
    border-radius:50%;
    border-top:1px solid #aaa;
    text-align:center;
    color:#fff;
    font-weight:bold;
    font-size:76px;
    line-height:125px;
    text-shadow:-2px -2px 0px #000;
  }
    div#dst div#header div.button a {
    color:#fff;
    }

      
 div#search_box {
    padding:25px;
    background:#efefec;
    width:325px;
    margin:0 auto;
    border-radius:10px;
    border:1px solid #fff;
    box-shadow: 0px 1px 4px #777;
    margin-bottom:50px;
  }
div#search_box input[type=text] {
  padding:10px;
  width:300px;
}
  
       div#dst div#header div#search_box input[type=text]  {
      padding:10px;
      width:300px;
      margin-bottom:0px;
      outline:none;
    }
      div#dst div#header a.new {
        background:#6ab71e;
        float:right;
        margin-top:22px;
        border-radius:35px;
        height:65px;
        padding: 0 40px;
        float:right;
        font-size:22px;
        font-weight:bold;
        display:block;
        color:#f1f1ee;
        text-shadow: 1px 1px #2b4a0d;
        box-shadow: 0px 2px 5px #222;
        line-height:65px;
        background:-webkit-linear-gradient(top, #6ab71e, #3e6f0d);
        border-bottom:1px solid #2b4a0d;
        border-right:none;
        border-left:none;
        border-top:1px solid #97e04e;
      }
        div#dst div#header h1 {
          font-size:62px;
          color:#fff;
            margin-bottom:10px;

        }
          div#dst div#header h1 a {
            font-size:42px;
          }
        div#dst div#header h2 {
          font-size:32px;
        }
         div#dst div#header h2 a {
            color:#ddd;
            font-size:32px;
          }
        div#dst div#header h1 span.highlight {
          color:#25272a;
        }
        div#dst div#header h1 span.current {
          color:#d24d33;
          text-shadow: 1px 1px #fff;
        }
        
   
