/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  padding:0;
  margin:0;
  font-family:'Ubuntu', sans-serif;
  text-decoration:none;
}
input[type=submit].delete {
  float:right;
  background:#993838;
  height:25px;
  border:none;
  width:25px;
  color:#fff;
  border-radius:50%;
  border:2px solid #fff;
  position:absolute;
  right:5px;
  top:5px;
  font-weight:bold;
  display:none;
  -moz-box-shadow: 0px 0px 2px #222;
  -webkit-box-shadow: 0px 0px 2px #222;
  box-shadow: 0px 0px 2px #222;
}
div#simple_message {
  width:500px;
  margin:50px auto;
  text-align:center;
  font-size:16px;
  color:#999;
  margin-bottom:25px;
}
div#navigation {
}






div#dst {
  
}
  div#dst ul {
    list-style:none;
  }
    div#dst ul li {
      height:75px;
      line-height:75px;
      font-size:22px;
      font-weight:bold;
      color:#d2ccc2;
      padding:0 25px;
    }
      div#dst ul li span.sub_item {
        font-size:10px;
        font-weight:bold;
        border-radius:4px;
        padding:7px;
        margin-left:10px;
      }
      div#dst ul li span.sub_item a {
        font-size:10px;
        font-weight:bold;
      }
      div#dst ul li a {
        font-size:22px;
        font-weight:bold;
      }
      div#dst ul li#total {
        text-align:right;
        color:#25272a;
        font-size:28px;
      }
      div#dst ul li#new {
        background:#6ab71e;
        border-left:25px solid #549514;
      }
        div#dst ul li#new a {
          color:#f1f1ee;
          display:block;
          height:100%;
          width:100%;
        }
      div#dst ul li.actions {
        background:#3f4145;
        border:none;
        height:50px;
        line-height:50px;
        padding-right:0px;
      }
      div#dst ul li.actions a.new {
        background:#6ab71e;
        float:right;
        height:50px;
        padding: 0 25px;
        display:block;
        color:#f1f1ee;
        text-shadow: -1px -1px #49850f;
      }
        div#dst ul li.actions div {
          float:left;
          height:50px;
          margin-right:25px;
          text-shadow: -1px -1px #111;
        }
        div#dst ul li.actions div.on {
          color:#ddd;
        }
          div#dst ul li.actions div.on a {
            color:#ddd;
          }
        div#dst ul li.actions div.off {
          color:#6b6c6f;
        }
          div#dst ul li.actions div.off a {
            color:#6b6c6f;
          }
      div#dst ul li span.count {
        float:right;
        font-size:20px;
      }
      div#dst ul li.audience {
        background:#25272a;
        color:#848588;
        border-left-color:#030303;
      }
      div#dst ul li#header {
        padding:25px;
        height:auto;
        background:#e7e7e4;
        border:none;
      }
        div#dst ul li#header h1 {
          font-size:52px;
          color:#d2ccc2;
          line-height:62px;
        }
          div#dst ul li#header h1 a {
            font-size:42px;
            color:#3194b9;
          }
        div#dst ul li#header h2 {
          font-size:32px;
          line-height:32px;
        }
          div#dst ul li#header h2 a {
            color:#3194b9;
            font-size:32px;
          }
        div#dst ul li#header h1 span.highlight {
          color:#25272a;
        }
        div#dst ul li#header h1 span.current {
          color:#d24d33;
        }
div#dst ul li.brand a {
  color:#393939;
}
div#dst ul li.campaign a {
  color:#d24d33;
}
  div#dst ul li.campaign span.sub_item {
    background:#3b8dbd;
    color:#fafafa;
    box-shadow: inset 0px 0px 1px #123d56;
    text-shadow: -1px -1px #7a7a74;   
  }
  div#dst ul li.campaign span.sub_item a {
    text-shadow: -1px -1px #22678f;
    color:#e9eef1; 
  }
  div#dst ul li.campaign span.count {
    color:#65655e;
  }
div#dst ul li.version a {
  color:#25272a;
}
div#dst ul li.version {
  background:#3b8dbd;
}
  div#dst ul li.version.light {
    background:#3b8dbd;
    border-left-color:#195b82;
  }
  div#dst ul li.version.dark {
    background:#2d78a4;
    border-left-color:#114a6b;
  }
  div#dst ul li.version a {
    color:#f1f1ee;
    text-shadow: -1px -1px #1d4e80;
  }
  div#dst ul li.version span.sub_item {
    color:#dae2e7;
    background:#236084;
    box-shadow: inset 0px 0px 1px #333;
    text-shadow: -1px -1px #0f3850;
  }
  div#dst ul li.version span.count {
    color:#cce2ef;
    text-shadow: -1px -1px #1d4e80;
  }







