// Place all the styles related to the audiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-
//
//     Audiences Page Styling
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-

// --------------------
//        Header
// --------------------

div#dst.audiences div#header {
  background:#25272a;
  text-shadow: -1px -1px #0e0f10;
  background:-webkit-linear-gradient(top, #25272a, #111);
}
  div#dst.audiences div#header h1 {
    color:#555;
  }

// --------------------
//        Record
// --------------------

div#dst.audiences div.record {
  color:#26a096;
}
  div#dst.audiences div.record.empty {
    background:#e6e6e2;
  }
  div#dst.audiences div.record.light {
    background:#e6e6e2;
  }
  div#dst.audiences div.record.dark {
    background:#dededb;
  }

  div#dst.audiences div.record input[type=submit].delete {
    background:#cacac8;
    color:#fff;
    border-color:#d6d6d3;
    text-shadow: none;
  }
  div#dst.audiences div.record input[type=submit].delete:hover {
    background:#d24d33;
    box-shadow: 0px 0px 2px #194f6e;
    color:#fff;
    border-color:#fff;
    text-shadow: 1px 1px #992f1a;
  }