// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-
//
//       Brand Page Styling
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-

// --------------------
//        Header
// --------------------

div#dst.campaign div#header {
  background:#e6e6e2;
  box-shadow:inset 0px 2px 4px #777;
}
div#dst.campaign div#header div.button {
  font-size:22px;
  line-height:105px;
}
div#dst.campaign div#header h1 {
  margin-top:18px;
}
// --------------------
//        Record
// --------------------

div#dst.campaign div.record a {
  color:#25272a;
}
div#dst.campaign div.record {
  background:#3b8dbd;
}
  div#dst.campaign div.record.total {
    background:#dededb;
    text-align:right;
    text-shadow: 1px 1px 0px #f2efe9;
    color:#585040;
    border-top:2px solid #306b87;
    border-bottom:1px solid #ccc;
    height:50px;
    line-height:50px;
  }
  div#dst.campaign div.record.total form {
    display:inline;
    text-align:right;
  }
  div#dst.campaign div.record.total div {
    float:right;
  }
  div#dst.campaign div.record.total input[type=checkbox] {
    margin:0;
    padding:0;
    float:right;
    margin-top:9px;
  }
  div#dst.campaign  div.record.light {
    background:#3b8dbd;
  }
  div#dst.campaign  div.record.dark {
    background:#347eaa;
  }
  div#dst.campaign  div.record a {
    color:#f1f1ee;
    text-shadow: -1px -1px #1d4e80;
  }

  div#dst.campaign  div.record ul.sub_items li {
    color:#555;
    background:#dededb;
    text-shadow: 1px 1px #eee;
    box-shadow: inset 0px 1px 3px #888;
    border:1px solid #317da4;
  }
    div#dst.campaign  div.record ul.sub_items span.int {
      color:#555;
      font-weight:300;
      margin-left:3px;
    text-shadow: 1px 1px #eee;
    }
      div#dst.campaign  div.record ul.sub_items span.int input[type=text] {
        outline:none;
        border:none;
        border-radius:2px;
        margin-top:-3px;
        background:transparent;
        color:#fff;
        font-size:14px;
        font-weight:300;
      }

  div#dst.campaign  div#header.version {
  background:-webkit-linear-gradient(top, #1c628b, #134c6d);
  }
  div#dst.campaign  div#header.version h1 {
    color:#fff;
    text-shadow: -1px -1px #0b3249;
  }
  div#dst.campaign  div#header.version h2 {
    color:#fff;
    font-size:22px;
    font-weight:300;
    text-shadow: 1px 1px #09182f;
  }
  div#dst.campaign  div span.count {
    color:#afcddf;
    text-shadow: -1px -1px #386985;
  }

      div#dst.campaign  div.record input[type=submit].delete {
        background:#23678f;
        color:#c6ddeb;
        border-color:#286f98;
        text-shadow:none;
      }
        div#dst.campaign  div.record input[type=submit]:hover {
          background:#d24d33;
          box-shadow: 0px 0px 2px #194f6e;
          color:#fff;
          border-color:#fff;
          text-shadow: 1px 1px #992f1a;
        }
