// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#dst.contacts div#header {
  background:#eee;
  background:-webkit-linear-gradient(top, #eee, #ddd);
  box-shadow:inset 0px 3px 7px #666;
  padding:15px 50px;
}
  div#dst.contacts div#header h1 {
    color:#333;
    text-shadow:1px 1px 0px #fff;
  }
  
div#dst.contacts div.record {
  color:#fff;
  text-shadow:-1px -1px 0px #172d44;
}
  div#dst.contacts div.record.light {
    background:#295981;
    box-shadow:inset 0px 2px 3px #172d44;
  }
  div#dst.contacts div.record.dark {
    background:#224c6f;
  }
   div#dst.contacts div.record span {
    font-size:14px;
    font-weight:300;
   }
  
      div#dst.contacts  div.record input[type=submit].delete {
        background:#1f4565;
        color:#c6ddeb;
        border-color:#1b3d59;
        text-shadow:none;
      }
        div#dst.contacts  div.record input[type=submit]:hover {
          background:#d24d33;
          box-shadow: 0px 0px 2px #194f6e;
          color:#fff;
          border-color:#fff;
          text-shadow: 1px 1px #992f1a;
        }