// Place all the styles related to the segments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.code span.comment {
  color:#797979;
}
div.code span.statement {
  color:#d58944;
}
div.code span.enclosed_string {
  color:#b4c978;
}
div.code span.number {
  color:#9b74d8;
}
div.code span.data_extension {
  color:#80aac6;
}
