// Place all the styles related to the send_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-
//
//       Send Lists Styling
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-

// --------------------
//        Header
// --------------------

div#dst.send_lists div#header {
  background:#25272a;
  text-shadow: -1px -1px #0e0f10;
  background:-webkit-linear-gradient(top, #25272a, #111);
}

// --------------------
//        Record
// --------------------

div#dst.send_lists div.record {
  
}