// Place all the styles related to the versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




 div#dst div.audience {
        background:#25272a;
        color:#bbb;
        text-shadow: -1px -1px #000;
      }
        div#dst div.audience.light {
          background:#25272a;
        }
        div#dst div.audience.dark {
          background:#191a1c;
        }
div#dst.version div.record {
  color:#999;
}
  div#dst.version div.record.light {
    background:#222;
  }
  div#dst.version div.record.dark {
    background:#111;
  }
  
/* 
 *
 * Audience page styling. 
 *
 */ 

div#dst.version div#header {
  text-shadow: 1px 1px #000;
  background:#2d78a4;
  background:-webkit-linear-gradient(top, #2d78a4, #1b5374);
}  
div#dst.version div#header h1 {
  color:#fff;
  text-shadow: -1px -1px #1c4f70;
}
div#dst.version div#header h2 {
  color:#c2d8e9;
  text-shadow: -1px -1px #1c4f70;
}

      div#dst.version div#header a.assets {
        background:#d24d33;
        float:right;
        margin-top:22px;
        height:65px;
        padding: 0 40px;
        float:right;
        font-size:22px;
        font-weight:bold;
        display:block;
        color:#f1f1ee;
        text-shadow: 1px 1px #2b4a0d;
        box-shadow: 0px 2px 5px #222;
        line-height:65px;
        background:-webkit-linear-gradient(top, #d24d33, #9f331e);
        border-bottom:1px solid #772211;
        border-right:none;
        border-left:none;
        border-top:1px solid #d8654e;
      }

/*
 *
 * Version page styling. 
 *
 */
