<li class="actions">
  <div class="on"><%= link_to 'Audiences', brand_audiences_path(@brand) %></div>
  <div class="on"><%= link_to 'Send Lists', brand_send_lists_path(@brand) %></div>
  <%= link_to 'New Campaign', new_brand_campaign_path(@brand), :class => 'new' %>
</li>