<div id="actions">

  <ul>
    <li class="on"><%= link_to 'Audiences', brand_audiences_path(@brand) %></li>
    <li class="on"><%= link_to 'Send Lists', brand_send_lists_path(@brand) %></li>
  </ul>

</div>